// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// File name: projects/07/StackArithmetic/SimpleAdd/SimpleAdd.vm

// Pushes and adds two constants.
push constant 7
push constant 8
add

// practicing unit 1.5
@LCL
M=1015

@SP
M=258

@addr
D=M
@LCL
D=D+M
@addr
M=D

@SP
D=M-1
M=D

@SP
D=M
@addr
M=D